body.index {
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* .logo-login {
    margin-top: 10vh;
} */

.column_form_login{
    height: 100vh;
    background: rgb(27,43,83);
}

.card.login {
    margin-top: 30vh;
    /* margin: 0%; */
}

.logo{
    margin-top: 5vh;
}

.sidebar{
    background: rgb(27,43,83);
}

